
@{
    Layout = "_layout";
}
    <div class="row">
        <div class="col">
            <div class="container">
                <p> This is About page</p>
            </div>
        </div>
        
    </div>