@{
    ViewData["Title"] = "Book Page";
  //  IEnumerable < BookModel > = ViewData["bookdata"];
    Layout = "_Layout";
}

<section class="bg-light">
    <div class="container">
        <h1> Welcome to Book Store</h1>
        <p class="lead text-muted">
            Book Store Book Store Book Store Book Store

        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>

    </div>

</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                </div>
            </div>


        </div>
    </div>
</div>
